<div>
  <h1>My dfsdfd</h1>
  <button type="button"  [routerLink]="['/books', 'create']"> Create new book</button>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Book Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books; let i = index">
      <td>{{i+1}}</td>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.description}}</td>
      <td>
        <button type="button" [routerLink]="['/books', book.id, 'edit']">Update</button>
        <button type="button" (click)="delete(book.id)">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
